<div class="top-row ps-2 navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <img src="favicon-32x32.png" />
            <a class="navbar-brand ms-2 align-bottom" href="">Heimdall</a>
        </div>
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link text-truncate" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            @if (context.User.HasDeviceAdminAccess())
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-truncate" href="deviceadmin">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Manage devices
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link text-truncate" href="webhookadmin">
                        <span class="oi oi-loop" aria-hidden="true"></span> Manage webhooks
                    </NavLink>
                </div>
            }
        </nav>
    </div>
</AuthorizeView>
