@using Heimdall.Models;

@if (this.webhooks is null)
{
    <div class="spinner-border" role="status"></div>
}
else
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action(s)</th>
                <th scope="col" class="fit"><!-- Empty --></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var webhook in this.webhooks)
            {
                <tr>
                    <td>@webhook.Name</td>
                    <td>
                        @foreach (var action in webhook.Actions)
                        {
                            // This method will usually complete synchronously so
                            // waiting for the result shouldn't impact the UI.
                            <p>@this.GetActionDisplayString(action)</p>
                        }
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button type="button" 
                                            class="btn btn-outline-secondary oi oi-pencil"
                                            aria-label="Edit Webhook"
                                            title="Edit"
                                            @onclick=@(() => this.ShowEditUI(webhook)) />
                                </td>
                                <td>
                                    <button type="button" 
                                            class="btn btn-outline-secondary oi oi-clipboard"
                                            aria-label="Copy Webhook URI to Clipboard"
                                            title="Copy URI"
                                            @onclick=@(async () => await this.CopyWebhookUriToClipboardAsync(webhook)) />
                                </td>
                            </tr>
                            <tr>
                                <td />
                                <td>
                                    <button type="button" 
                                            class="btn btn-outline-secondary oi oi-trash subtle-delete-button"
                                            aria-label="Delete Webhook"
                                            title="Delete"
                                            @onclick=@(async () => await this.ConfirmAndDeleteWebhookAsync(webhook)) />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
