@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div>Hello, <a href="DebugUser" class="m-0 text-reset">@GetFirstName(context)</a>!</div>
        <button class="btn-sm btn-outline-secondary m-3" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    private static string GetFirstName(AuthenticationState context)
    {
        string name = context?.User?.Identity?.Name;
        return name is null ? "you" : name.Split()[0];
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
