# Place in /etc/systemd/system

[Unit]
Description=Heimdall Webhook Proxy Server

[Service]
User=heimdall
WorkingDirectory=/home/heimdall/service
ExecStart=/home/heimdall/service/Heimdall.WebhookProxy

# Always restart the service after 10 seconds if it crashes.
# Also restart it every 3 days (to pick up new certs, etc..)
Restart=always
RestartSec=10
RuntimeMaxSec=3d

KillSignal=SIGINT
SyslogIdentifier=heimdall-whpxy-svc

AmbientCapabilities=CAP_NET_BIND_SERVICE

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:4635
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=true

[Install]
WantedBy=multi-user.target