[Unit]
Description=Heimdall Home Web Server

[Service]
User=heimdall
WorkingDirectory=/home/heimdall/service
ExecStart=/home/heimdall/service/Heimdall.Server

# Always restart the service after 10 seconds if it crashes.
# Also restart it every 3 days (to pick up new certs, etc..)
Restart=always
RestartSec=10
RuntimeMaxSec=3d

KillSignal=SIGINT
SyslogIdentifier=heimdall-svc

AmbientCapabilities=CAP_NET_BIND_SERVICE

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=https://home.alker.dev:443;http://home.alker.dev:80
Environment=SSL_CERTIFICATE_DIRECTORY=/etc/letsencrypt/live/home.alker.dev
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=true

[Install]
WantedBy=multi-user.target