@page "/deviceadmin"

<h1>Manage Devices</h1>

<AuthorizeView>
    @if (!context.User.HasDeviceAdminAccess())
    {
        <div class="alert alert-warning" role="alert">
            &#9888;&#65039; You don't have access to manage devices.
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <p>TODO</p>
            </div>
        </div>

        <br /><br /><button class="btn btn-primary" id="B1" @onclick="ListDevicesAsync">List</button>
        <br /><br /><button class="btn btn-primary" id="B2" @onclick="CreateDeviceAsync">Create</button>
    }
</AuthorizeView>