@page "/deviceadmin"

<h1>Manage Devices</h1>

<AuthorizeView>
    @if (!context.User.HasDeviceAdminAccess())
    {
        <div class="alert alert-warning" role="alert">
            &#9888;&#65039; You don't have access to manage devices.
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <p>TODO</p>
            </div>
        </div>

        <button class="btn btn-primary" @onclick="DoThingAsync">Do Thing</button>
    }
</AuthorizeView>